/* RESET */
* {
  margin: 0;
}

/* HEADER */
.logo {
  width: 200px;
  margin-top: 25px;
}

.container {
  width: 1024px;
  margin: auto;
  margin-bottom: 20px;
}

.sfondo {
  background-color: lightblue;
  background-image: url(../img/pattern.png);
  background-size: 300px;
}
/* FINE HEADER */

/* MAIN */

.scritto {
  color: gray;
}

.autore {
  color: lightblue;
}

.paragrafo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlight {
  background-color: yellow;
}

.lista {
  margin: 20px;
}

.tabella {
  text-align: left;
  background-color: blue;
  color: white;
}

.text {
  width: 50%;
}

.riga {
  background-color: lightblue;
}
/* FINE MAIN */

/* FOOTER*/
.foto {
  margin-top: 20px;
}
/* FINE FOOTER*/
